<div style="position:absolute;z-index:0;background-color: black;opacity: 0.3;height: 100%;width: 100%"></div>
<div style="position: relative;z-index: 1;height: 100%;width: 100%" class="flex_Center">
    <div class="flex_Center">
        <img src="resources/Icon_on_Web.png" style="height: 100px;width: 100px;border-radius: 10px;margin-right: 20px">
        <div class="flex_Column" style="color: white;">
            <h1 style="letter-spacing: 4px;margin: 7px">欢迎使用</h1>
            <h2 style="letter-spacing: 2px;margin: 7px">结构动力学后台管理</h2>
        </div>
    </div>
    <div class="flex_Column" style="width:400px;margin-right: 30px">
        <h2 style="letter-spacing: 4px;color: white;margin-bottom: 20px">请先登录</h2>
        <p style="letter-spacing: 3px;color: white;margin-bottom: 40px;font-size: 22px">{{Info}}</p>
        <div style="padding: 0;display: flex;align-items: center;width: 100%;">
            <i class="glyphicon glyphicon-user" style="color: white;font-size: 40px;margin-right: 12px"></i>
            <md-input-container style="margin-bottom: 0;height: 30px;width: 100%;font-size: 25px;">
                <label style="margin-bottom: 0;color: white;font-weight: normal" id="info1">{{Info1}}</label>
                <input style="border-color: white;color: white" ng-model="username">
            </md-input-container>
        </div>
        <div style="padding: 0;display: flex;align-items: center;width: 100%;margin-top: 40px">
            <i class="fa fa-key" aria-hidden="true" style="color:white; font-size: 40px;margin-right: 12px"></i>
            <md-input-container style="margin-bottom: 0;height: 30px;width: 100%;font-size: 25px;">
                <label style="margin-bottom: 0;color: white;font-weight: normal" id="info2">{{Info2}}</label>
                <input type="password" style="border-color: white;color: white" ng-model="password">
                <i ng-show="password" ng-click="clearInput()" class="glyphicon glyphicon-remove"
                   style="color:white;font-size:22px;position: absolute;bottom: 0;right:-20px"></i>
            </md-input-container>
        </div>
        <div style="
        border: white 2px solid;
        border-radius: 5px;
        height: 50px;
        width: 100px;
        margin-top: 40px;
        position: relative;
        cursor: pointer"
        ng-click="AdminLogin()">
            <div style="border: white 2px solid;border-radius: 5px;height: 40px;width: 90px;position: absolute;top:3px;left: 3px;"
                 class="flex_Center">
                <p style="letter-spacing: 4px;color: white;font-size: 25px;margin: 0">登录</p>
            </div>
        </div>
    </div>
    <div style="position:absolute;left: 30px;bottom: 30px;font-size: 22px;">
        <a href="https://www.behance.net/gallery/93107661/ED-20-III" target="_blank" style="color: white;letter-spacing: 2px">atelier olschinsky的作品</a>
    </div>
</div>
<style>
    body {
        background: url(resources/web_background.jpg) top left;
        background-size: 100%;
        animation: background 100s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    #MainContainer {
        height: 100%;
        width: 100%;
    }

    @keyframes background {
        from {
            background-position-y: 100%;
        }
        to {
            background-position-y: 0
        }
    }

    .flex_Center {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .flex_Column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: white;
        font-size: 20px;

    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        font-size: 20px;

    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: white;
        font-size: 20px;

    }

    .InputWrap {
        width: 400px;
        color: white;
        font-size: 20px;
        background-color: unset;
        border: unset;
        border-bottom: white 2px solid;
        outline: unset
    }
</style>
<!--
atelier olschinsky的作品-->
